email=info@acadalearning.com
registry=http://localhost:8081/repository/acada-nodejs/
##always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
allowRepublish=true
http://localhost:8081/repository/acada-nodejs/:auth="YWRtaW46YWRtaW4xMjM="
